@import "colors";

.search-pages {
	display: flex;
	justify-content: center;
	align-items: center;

	.arrow {
		margin: 0 16px;
		border: 1px solid $background;
		&:hover {
			cursor: pointer;
		}

		svg {
			display: flex;
			align-items: center;

			height: 24px;
			width: 24px;
		}
	}
	.disabled {
		color: rgba($dark, 0.3);

		&:hover {
			cursor: not-allowed;
		}
	}
}
