@import 'colors';

html,
body {
	margin: 0px;
	font-family: 'Poppins', sans-serif;
}

input,
button,
label {
	font-family: 'Poppins', sans-serif;
}

h1,
h2 {
	font-family: 'Comfortaa', cursive;
	font-weight: bold;
}

a {
	color: $font;
	text-decoration: none;
}

#root {
	display: flex;
	flex-direction: column;

	min-height: 100vh;

	.page-content {
		flex: 1;
		display: flex;
	}
}

.party-emphasis {
	color: $accent;
}
